<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner" spinner-start-active="true"></span>

<div class="container">

    <form novalidate class="form-basic">

        <!-- Access Token Text Area -->
        <div class="form-row">
            <label>
                <span>Access Token</span>
                <textarea msd-elastic ng-model="accessTokenArea" style="width: 300px" readonly />
            </label>
        </div>

        <!-- API Response Text Area -->
        <div class="form-row">
            <label>
                <span>API Response</span>
                <textarea msd-elastic ng-model="apiResponseArea" style="width: 300px" readonly />
            </label>
        </div>

    </form>

</div>