<div class="container">

    <form class="form-basic" name="configForm" novalidate ng-submit="setConfig(config)">

        <div class="form-title-row">
            <h1>Consumer App Configuration</h1>
        </div>

        <div class="form-row">
            <label>
                <span>Client ID</span>
                <input type="text" autocomplete="off" ng-model="config.clientId">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Client Secret</span>
                <input type="text" autocomplete="off" ng-model="config.clientSecret">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>API Connect Host</span>
                <input type="text" autocomplete="off" ng-model="config.host">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>API Connect Organization</span>
                <input type="text" autocomplete="off" ng-model="config.organization">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>API Connect Catalog</span>
                <input type="text" autocomplete="off" ng-model="config.catalog">
            </label>
        </div>

        <div class="form-row">
            <button type="submit">Submit</button>
        </div>

    </form>

</div>
