worker_processes auto;

error_log /var/log/nginx/error.log info;

events {
    worker_connections  1024;
}

stream {
    map $ssl_preread_server_name $name {
        PORTAL     portal_backend;
        APIM       apim_backend;
        APIGATEWAY apigateway_backend;
        DATAPOWER  datapower_backend;
        CONSUMER   consumer_backend;
        STUBSVCS   stubsvcs_backend;
        DOCKERHOST dockerhost_backend;
        default    apigateway_backend;
    }

    upstream apim_backend {
        server APIM:443;
    }

    upstream portal_backend {
        server PORTAL:443;
    }

    upstream apigateway_backend {
        server APIGATEWAY:443;
    }

    upstream datapower_backend {
        server DATAPOWER:9090;
    }

    upstream consumer_backend {
        server CONSUMER:443;
    }

    upstream stubsvcs_backend {
        server STUBSVCS:443;
    }

    upstream dockerhost_backend {
        server 192.168.225.1:443;
    }

    server {
        listen 0.0.0.0:443;
        proxy_pass $name;
        ssl_preread on;
    }
}
